@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&family=Roboto+Mono&display=swap');
body {
  background: rgb(29, 0, 83);
  color:rgb(196, 174, 248);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;  
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  text-align: center;
  margin-top: 50px;
  border-bottom: 3px rgb(196, 174, 248) solid;

}


header a:hover {
  text-shadow:
    0 0 7px  rgb(2, 248, 248),
    0 0 10px  rgb(2, 248, 248),
    0 0 21px  rgb(2, 248, 248),
    0 0 42px  rgb(32, 250, 250),
    0 0 82px  rgb(67, 255, 255),
    0 0 92px  rgb(98, 253, 253),
    0 0 110px  rgb(255, 255, 255);
}
 
header a {
  margin: 0;
  color:  rgb(226, 214, 253);
  text-shadow:
      0 0 7px  rgb(125, 71, 252),
      0 0 10px  rgb(125, 71, 252),
      0 0 21px rgb(133, 84, 248),
      0 0 42px  rgb(146, 102, 250),
      0 0 82px  rgb(165, 129, 250),
      0 0 92px  rgb(182, 155, 247),
      0 0 130px  rgb(192, 167, 250);
      text-transform: uppercase;
      text-decoration: none;
}


header p {
  font-size: 1.5rem;
  color: rgb(196, 174, 248);

  text-transform: none;
  font-family: 'Roboto Mono', monospace;
  padding: 10px;
}
footer {

  color: #bbb;
font-size: 1rem;
  text-align: center;
  margin-top: auto
}
.page-content {
  max-width: 1200px;
  margin: 20px auto 80px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}
